.ten-day-forecast-box {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  height: 400px;
}

.ten-day-forecast-box h3 {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}

.ten-day-forecast-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ten-day-forecast-box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ten-day-forecast-box li span {
  font-size: 16px;
  flex: 1; /* Allow the text to take up the remaining space */
}

.ten-day-forecast-box img {
  width: 30px;
  height: auto;
  margin-right: 10px;
  flex-shrink: 0; /* Prevent the icon from shrinking */
}
