
/* Open modal */
.modal.show {
    display: block;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Modal content styling */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px; /* Smooth rounded corners */
}

.modal-content h2{  
    display: block; 
    font-weight: bold; 
    color: #333; 
    font-size: 20px; 
    text-align: center; 
    margin-top: 5px;     
}

/* Style form elements inside modal */
.modal-content label {
    display: block; /* Ensures labels take up full width and appear above the input */
    margin-bottom: 5px; /* Adds some space between the label and the input */
    font-weight: bold;
    color: #333;
    font-size: 14px; 
    text-align: left; 
    margin-top: 15px; /* Adds space between label and previous input */
}



.modal-content select, .modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* Ensure padding doesn't overflow */
}

.modal-content button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; /* Padding inside the button */
    border: none; 
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 14px;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #45a049;
}

/* Specific spacing for the "Use My Location" and "Save Settings" buttons */
#use-my-location {
    margin-right: 10px; /* Space between the two buttons */
}

/* Suggestions list styling */
.suggestions-list {
    list-style: none; /* Without the dots */
    padding: 0;
    margin: 5px 0;
    border: 1px solid #ccc;
    max-height: 150px;
    /* overflow-y: auto; */
    background-color: white;
    width: 10%;
    display: none; /* Hidden by default */
    position: absolute;
    z-index: 1;
    color: #333;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}