

/* Responsive design: adjust layout based on screen size */
@media (max-width: 768px) {
  .box-container {
      grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .box-container {
      grid-template-columns: 1fr; /* Stack all boxes in one column on mobile */
  }

  /* .box {
      height: 100px;
      width: 100px;
      font-size: 16px;
  } */
}


/* Ensure that html, body, #root, and App take the full height */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure the background image covers the entire screen */
body {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  
}

/* Root element inside body */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes full height of the page */
}

/* App container should stretch to full height */
.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow it to grow and take remaining space */
  justify-content: space-between;
}
